<div class="container mt-4">
  <h1 class="text-center">C'est nous l'équipe !</h1>
  <div class="row">
    <!-- Membre 1 : Louis -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column flex-fill">
        <img src="https://img.freepik.com/free-photo/close-up-beautiful-cat_23-2149216378.jpg?w=740&t=st=1701270809~exp=1701271409~hmac=3a1644229b4882670a39bd05b0075941a35500eb2f9799150c384c5e240afc8f" class="card-img-top" alt="Louis">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Louis</h5>
          <p class="card-text flex-grow-1">"Miaou Miaou Mia"</p>
        </div>
      </div>
    </div>
    <!-- Membre 2 : Lala -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column flex-fill">
        <img src="https://img.freepik.com/free-photo/lovely-pet-portrait-isolated_23-2149192351.jpg?w=740&t=st=1701271197~exp=1701271797~hmac=deb900df68c3a8200f8aec03fefad5057bb980a693887b55a5881d60c302d3c2
" class="card-img-top" alt="Lala">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Lala</h5>
          <p class="card-text flex-grow-1">"Mia Mia Miaou"</p>
        </div>
      </div>
    </div>
    <!-- Membre 3 : Mathieu -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column flex-fill">
        <img src="https://img.freepik.com/free-photo/beige-cat-lying-sofa_2829-9111.jpg?w=740&t=st=1701270678~exp=1701271278~hmac=5fe82f1276b9b1a8787725528eacb3abd1048c3e1580b1c32a023d51c10ebe3b" class="card-img-top" alt="Mathieu">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Mathieu</h5>
          <p class="card-text flex-grow-1">"Miaou Miaou Miaou"</p>
        </div>
      </div>
    </div>
    <!-- Membre 4 : Flo -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column flex-fill">
        <img src="https://img.freepik.com/free-photo/black-cat-with-yellow-eyes-looking-camera-with-blurred_181624-1920.jpg?w=740&t=st=1701270754~exp=1701271354~hmac=37642a480c173c7ecf63acabfc57abfa25189bf7628d4facf9d547e92c9c1d22" class="card-img-top" alt="Flo">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Flo</h5>
          <p class="card-text flex-grow-1">"Miaou Mia Mia"</p>
        </div>
      </div>
    </div>
    <!-- Membre 5 : Robin -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column flex-fill">
        <img src="https://img.freepik.com/free-photo/kitty-with-monochrome-wall-her_23-2148955134.jpg?w=826&t=st=1701270720~exp=1701271320~hmac=714b39a22f3ceb3fe9a9cc54feef6e62bc8693c85f1a04417d05fd9f1f1c7c1d" class="card-img-top" alt="Robin">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Robin Potin Couffin</h5>
          <p class="card-text flex-grow-1">"Miaou Mia"</p>
        </div>
      </div>
    </div>
  </div>
</div>
