<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> !</h1>
    <p>Nous avons bien reçu ton paiement.</p>
    <!-- Inserer la logique pour récupéré chaque image de la commande (order) du user concérné -->
    <p> À très vite sur The-Chaton-Project.fr !</p>
  </body>
</html>