<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> et bienvenue chez nous !</h1>
    <p>Nous avons bien enregistrer ton inscription.</p>
    <p>Pour accéder à ton espace client, connecte-toi via : <%= @url %>. Tu pourras y modifié t'es information et faire t'es premiers achats sur notre super site.</p>
    <p> À très vite sur The-Chaton-Project.fr !</p>
  </body>
</html>