<h1>Vos commandes</h1>
<% if @orders.present? %>
  <ul>
    <% @orders.each do |order| %>
      <li>
        <%= link_to "Commande ##{order.id}", order_path(order) %>
        <!-- Vous pouvez ajouter d'autres informations sur la commande ici si nécessaire -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Vous n'avez passé aucune commande.</p>
<% end %>
