<h1>Votre commande</h1>
<p>order_id: <%= @order.id %></p>
<% if @order.present? && @order.order_items.present? %>
  <ul>
    <% @order.order_items.each do |order_item| %>
      <li>
        <%= order_item.item.title %>
        <%= number_to_currency(order_item.item.price * order_item.quantity) %>
      </li>
    <% end %>
  </ul>
  <p>Total: <%= number_to_currency(@total) %></p>
<% else %>
  <p>Votre commande est vide !</p>
<% end %>
