<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> !</h1>
    <p>Nous avons bien reçu ton paiement de <%= @total %>€.</p>
    <p>Voici donc ta commande :</p>
    <% @order.order_items.each do |order_item| %>
      <div>
        <p>Titre du produit : <%= order_item.item.title %> </p>
        <p>Image: <%= order_item.item.image_url %></p>
      </div>
    <% end %>
    <p>À très vite sur The-Chaton-Project.fr !</p>
  </body>
</html>
