<br>
<div id="page_title" style="text-align: center">
<h1>Liste Des Photos</h1>
</div>


<div class="container mt-5">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <img src="<%= item.image_url %>" class="card-img-top img-fluid">
          <div class="card-body">
            <h2 class="card-title text-center"><%= item.title %></h2>
          <div class="d-flex justify-content-around">
                <%= link_to "Voir en détails", item_path(item) , class: "btn btn-success" %>
                <%= button_to "Ajouter au panier", add_to_cart_item_path(item.id), remote: true, method: :post, form_class: "form-inline", class: "btn btn-warning add-to-cart", data: { item_id: item.id } %>
              </div>            
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
